.howitworks .slick-track {
    height:950px!important;
 }
 .howitworks .slick-slide{
    height:300px!important;
}
 
/* .howitworks .box1 {
    width: 20%;
} */
/* .howitworks .box1 > div {
    width: 50%;
} */

.howitworks .box {
    margin-top: 44px;
}

.howitworks .box img {
    background-size: cover;
    background-position: center;
    max-width: 400px;
    position: relative;
    top: -30px;
    left: 40px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .howitworks .box:not(:nth-child(1)) {
        margin-top: 82px;
    }
  }